<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="[%-5level] %d{ISO8601} [%t] [%C{1.}:%L] %-5p %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="true">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
